<template>
    <div class="posts-page">
         <section class="featured-posts">
     <PostPreview
    
     v-for="post in posts"
     :key="post.id"
    :id="post.id"
     :is-admin="isAdmin"
     :thumbnail="post.thumbnail"
     :title="post.title"
     :previewText="post.previewText"
     />
   </section>
    </div>
</template>
<script>
import PostPreview from '../posts/PostPreview'
export default {
  components:{
    PostPreview
  },
  props:{
    isAdmin:{
      type:Boolean,
      default:false
    },
    posts:{
      type:Array,
      required:true
    }
  }
}
</script>
<style scoped>
.posts-page{
    display: flex;
    justify-content: center;
    align-items: center;
}
.featured-posts {
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
</style>