<template>
    <div class="admin-post-page">
        <section class="update-form">
            <AdminPostform :post="loadedPost" @submit="onSubmitted"/>
        </section>
    </div>
</template>

<script>
import axios from 'axios'

import AdminPostform from '~/components/Admin/AdminPostform'
export default {
    layout:'admin',
    components:{
        AdminPostform
    },
  asyncData(context){
   return axios.get('https://nuxt-blog-bd6cb-default-rtdb.firebaseio.com/posts/'+ context.params.postId+'.json')
   .then(res=>{
     console.log(res)
     return{
       loadedPost:{ ...res.data, id:context.params.postId }
       }
   })
   .catch(e=>context.error(e))
  },
  methods:{
      onSubmitted(editedPost){
         this.$store.dispatch('editPost',editedPost).then(()=>{
             this.$router.push('/admin');
         })
      }
  }
}
</script>
<style scoped>
.update-form {
  width: 90%;
  margin: 20px auto;
}
@media (min-width: 768px) {
  .update-form {
    width: 500px;
  }
}
</style>